// showing default values
$accentColor = #2962FF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.getting-started {
  img {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 10px;
  }
}

.theme-container.smart-contract {
  img {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 10px;
  }
}

.theme-container.dapps {
  img {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 10px;
  }
}
